[Unit]
Description=Sage Beekeeper Registration

[Service]
Restart=always
RestartSec=3min
ExecStart=/usr/bin/waggle-registration.py

[Install]
WantedBy=multi-user.target
