[Unit]
Description=Sage Beekeeper Registration
After=waggle-nodeid.service
Wants=waggle-nodeid.service

[Service]
ExecStartPre=/usr/bin/test -f /etc/waggle/node-id
ExecStart=/usr/bin/waggle-registration.py
#Type=oneshot # requires systemd >= 244
#RemainAfterExit=yes
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
