[Unit]
Description=Sage Beekeeper Registration

[Service]
Restart=always
RestartSec=3min
ExecStart=/usr/bin/sagebk-registration

[Install]
WantedBy=multi-user.target
