[Unit]
Description=Waggle Beekeeper Registration
After=waggle-nodeid.service
Wants=waggle-nodeid.service

[Service]
ExecStartPre=/usr/bin/test -f /etc/waggle/node-id
ExecStart=/usr/bin/waggle-bk-registration.py
Restart=on-failure
RestartSec=30
RuntimeMaxSec=60

[Install]
WantedBy=default.target
